<% content_for :title, "Editing torneio" %>

<h1>Editing torneio</h1>

<%= render "form", torneio: @torneio %>

<br>

<div>
  <%= link_to "Mostrar este torneio", @torneio %> |
  <%= link_to "Voltar aos torneios", torneios_path %>
</div>
