<div id="<%= dom_id inscricao %>">
  <p>
    <strong>Participante:</strong>
    <%= inscricao.participante %>
  </p>

  <p>
    <strong>Torneio:</strong>
    <%= inscricao.torneio_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= inscricao.status %>
  </p>

</div>
