<% content_for :title, "Editing inscricao" %>

<h1>Editing inscricao</h1>

<%= render "form", inscricao: @inscricao %>

<br>

<div>
  <%= link_to "Mostrar esta inscrição", @inscricao %> |
  <%= link_to "Voltar às inscrições", inscricaos_path %>
</div>
