<p style="color: green"><%= notice %></p>

<% content_for :title, "Inscricaos" %>

<h1>Inscricaos</h1>

<div id="inscricaos">
  <% @inscricaos.each do |inscricao| %>
    <%= render inscricao %>
    <p>
      <%= link_to "Mostrar esta inscrição", inscricao %>
    </p>
  <% end %>
</div>

<%= link_to "Nova inscrição", new_inscricao_path %>
