<% content_for :title, "Editing permissao" %>

<h1>Editing permissao</h1>

<%= render "form", permissao: @permissao %>

<br>

<div>
  <%= link_to "Mostrar esta permissão", @permissao %> |
  <%= link_to "Voltar para permissões", permissaos_path %>
</div>
