<% content_for :title, "Editing permissao" %>

<h1>Editing permissao</h1>

<%= render "form", permissao: @permissao %>

<br>

<div>
  <%= link_to "Show this permissao", @permissao %> |
  <%= link_to "Back to permissaos", permissaos_path %>
</div>
