<p style="color: green"><%= notice %></p>

<% content_for :title, "Permissaos" %>

<h1>Permissaos</h1>

<div id="permissaos">
  <% @permissaos.each do |permissao| %>
    <%= render permissao %>
    <p>
      <%= link_to "Mostrar esta permissão", permissao %>
    </p>
  <% end %>
</div>

<%= link_to "Nova permissão", new_permissao_path %>
