<% content_for :title, "Editing usuario" %>

<h1>Editing usuario</h1>

<%= render "form", usuario: @usuario %>

<br>

<div>
  <%= link_to "Mostrar este usuário", @usuario %> |
  <%= link_to "Voltar para usuários", usuarios_path %>
</div>
